body{
    font-family: 'Roboto Slab';
    font-size: 30px;
    margin:0%;
}

.image-container {
    /* position: relative;
    display: inline-block; 
    width: 1370px;
    height: 1024px; */
    position: relative;
    top: 0;
    left: 0;
    background-image: url(../Images/JPG/Background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* 
.image-background{
    position:relative;
    top:0;
    left:0;
} */
.image-overlay {
    /* position:absolute;
    background-repeat: no-repeat;
    width: 988px;
    height: 684px;
    left: 200px;
    top: 118px;*/

    display: inline-block;
    position: absolute;
    border-radius: 10px;
    /* margin-top: 5%; */
}

 
 .row{
    display:flex; 
    position:relative;
    right: 680px;
    top: 200px;
    background-color: red;
    align-items: flex-end;
    justify-items:center;
    
} 

 #btnSticker {
    position:absolute;
    width: 245px;
    height: 63px;
    left: 279px;
    color: #00AEEF;
    border-radius: 10px ;
    border:3px solid #00AEEF;
  }

  #btnResults{
      position: absolute;
      width: 245px;
      height: 63px;
      left: 572px;
      color:white;
      background-color:#52B700 ;
      box-shadow: 2px 4px 4px 0px #2D6202CC;
      border-radius: 10px;
  }

  #btnPractice{
    position: absolute;
    width: 245px;
    height: 63px;
    left: 865px;
    color: white;
    background-color:#00AEEF;
    box-shadow: 2px 4px 4px 0px #015170;
    border-radius: 10px;
  } 

  .home-img {
    position: absolute;
    top: 32px;
    right: 32px;
    padding-bottom: 100px;
    z-index: 2;
}
