#helpOverlay {
  height: 100%;
  width: 100%;
}

#helpImg {
  width: 100%;
  align-items: center;
}



.modal-content {
  width: 100%;
}

.overlayCloseBtn {
  position: absolute;
  top: 1em;
  right: 1em;
}

.overlayBottomCenterBtn {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlayBottomCenterBtn .primary {
  padding: 20px ;
}